<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
<title>Clements Fence Company</title>
</head>

<body>

<h1 id="Header">Clements Fence Co</h1>
<ul id="top-nav-bar">
    <li><%= link_to "Home", home_index_path %></li>
    <li><%= link_to "About Us", home_aboutus_path %></li>
    <li><%= link_to "FAQ", home_faq_path %></li>
    <li><%= link_to "Gallery", "#" %></li>
    <li id="lastchild"><%= link_to "Contact", home_contact_path %></li>
</ul>
</body>
</html>
